
#photo-container .photo-item {
    padding: 0.5rem;
}

#photo-container .photo-item img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#photo-container .photo-item img:hover {
    transform: scale(1.05);
}

.modal-photo {
    width: 100%;
}

#rover-form input#date-slider {
    width: 92%;
}
